set relativenumber
set ignorecase
set smartcase
set hls
set incsearch
set surround
let mapleader = ","

map <leader>r :action Run<CR>
map <leader>d :action Debug<CR>
map <leader>R :action RunClass<CR>
map <leader>D :action DebugClass<CR>
map <leader>O :action OverrideMethods<CR>
map <leader>o :action OptimizeImports<CR>
map <leader>b :action GotoDeclaration<CR>
map <leader>k :action ChangesView.Commit<CR>
map <leader>K :action Vcs.Push<CR>
map <leader>t :action Vcs.UpdateProject<CR>
map <leader>gp :action Github.Create.Pull.Request<CR>
map <leader>s :action Android.SyncProject<CR>
map <leader>l :action ReformatCode<CR>
map <leader>e :action GotoNextError<CR>
map <leader>u :action FindUsages<CR>
map <leader>ca :action OpenCurrentActivity.Open<CR>
map <leader>B :action ToggleLineBreakpoint<CR>
map <leader>gr :action Git.Revert<CR>
map <leader>q :action CloseAllEditorsButActive<CR>
