@import url("colors.css");
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Ubuntu Mono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @background;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.qutebrowser {
    background-color: @background-darker
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @green;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: @selection;
    border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @pink;
}

#battery {
    background-color: @green;
    color: @comment;
}

#battery.charging, #battery.plugged {
    color: @foreground;
    background-color: @orange;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @comment;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @yellow;
    color: @comment;
}

#memory {
    background-color: @purple;
}

#disk {
    background-color: @orange;
}

#network {
    background-color: @selection;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @yellow;
    color: @selection;
}

#pulseaudio.muted {
    background-color: @background-darker;
    color: @comment;
}

#wireplumber {
    background-color: @yellow;
    color: @selection;
}

#wireplumber.muted {
    background-color: @background-darker;
    color: @comment;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @orange;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @comment;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red
}

#idle_inhibitor {
    background-color: @background-darker;
}

#idle_inhibitor.activated {
    background-color: @green;
    color: @comment;
}

#mpd {
    background-color: @pink;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @background-darker;
    color: @comment;
}

#mpd.paused {
    background-color: @purple;
}

#tags button { 
    color: @comment;
}
#tags button:hover { 
    background: @background-darker;
}
#tags button.occupied { 
    color: @purple;
}

#tags button.focused { 
    color: @foreground;
    box-shadow: inset 0 -3px @green;
}

#tags button.urgent {
    color: @red;
}
    
#layout {
    background-color: @purple;
}    

#custom-pacman {
    background-color: @comment;
    min-width: 50px;
}

#custom-pymodoro { 
    background-color: @red;
    min-width: 50px;
}
    

